* {
  margin: 0;
  padding: 0;
}

body {
  background: #eee;
  font-size: 16px;
  font-family: helvetica;
}

#app {
  width: 100%;
}

.container {
  background: #fff;
  padding:20px;
}

.hidden {
  display: none;
}


/***********************/
/* css transition */
/***********************/
.fade {
  transition:all .5s;
  /*transition:background-color .5s ease-in;*/
}

/***********************/
/* css animation */
/***********************/
.rotate {
  animation: rotate  0.5s;
}
.fadein {
  animation: rotate  0.5s;
}
@keyframes rotate {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
@keyframes fade {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

/***********************/
/* css media query */
/***********************/
@media (max-width: 600px) {
  .container {
    padding:15px;
   }
}

/***********************/
/* clearfix */
/***********************/
.group:after {
  content: "";
  display: table;
  clear: both;
}
