* {
  margin: 0;
  padding: 0;
}

body {
  background: #eee;
  font-size: 16px;
  font-family: helvetica;
}

#app {
  width: 100%;
}

.container {
  background: #fff;
  padding:20px;
}

@media (max-width: 600px) {
  .container {
    padding:15px;
   }
}

.hidden {
  display: none;
}

/* clearfix */
.group:after {
  content: "";
  display: table;
  clear: both;
}
