* {
  margin: 0;
  padding: 0;
}

body {
  background: #eee;
  font-size: 16px;
  font-family: helvetica;
  box-sizing: content-box;
}

#app {
  background: #fff;
  width: 100%;
}

.container {
  padding:20px;
}

.hidden {
  display: none;
}

/* clearfix */
.group:after {
  content: "";
  display: table;
  clear: both;
}
